::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar {
	width: 10px;
	height: 0px
}

::-webkit-scrollbar-thumb {
	background-color: #bbb
}

.password-wrapper {
	display: flex;
	align-items: center;
}

.password {
	margin: 0 auto;
	padding-top: 1em;
	display: none;
}

.password input {
	padding-left: 5px;
	height: 2em;
	outline: none;
	border: solid rgb(218, 215, 215) 1px;
}

.password button {
	cursor: pointer;
	background: white;
	height: 2em;
	outline: none;
	border: solid rgb(218, 215, 215) 1px;
}

.password button:hover {
	color: white;
	background: rgb(26, 26, 26);
}

pre * {
	tab-size: 4;
	font-size: 16px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.hljs {
	background-color: #2b2e33;
}

.hljs-comment, .hljs-deletion, .hljs-meta {
	color: #8a8a8a;
}

.preview {
	display: none;
	font-size: .8em;
}

.content {
	clear: both;
	padding: 0em 1em 0.2em 1em;
	margin: 0 auto;
	/*text-align: center;*/
}

.file-name {
	max-width: 66%;
	text-overflow: ellipsis;
	float: left;
	/*line-height: 1.5em;*/
	/*padding: 1em 1em 0;*/
	margin: 1.2em .2em;
	padding-left: 1em;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

/*#potplayer {*/
/*	width: 72px;*/
/*}*/

#thunder {
	display: block;
}

@media screen and (max-width: 500px) {
	#thunder {
		display: none;
	}
}

.target-blank {
	line-height: 2em;
	background: #000;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

.info .btn {
	float: right;
	text-align: center;
	border: solid rgb(218, 215, 215) 1px;
	border-radius: 1em;
	margin: 1em .2em;
	width: 4em;
	height: 2em;
	line-height: 2em;
	user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.info .btn:hover {
	color: white;
	background: rgb(0 0 0);
	transition: all 0.2s;
	cursor: pointer;
}

.info .btn.download {
	margin-right: 1em;
}

ion-icon {
	display: block;
	height: 1em;
	width: 1em;
}

#arrow-back,
#arrow-forward {
	/*color: rgb(218, 215, 215);*/
	color: #545454;
	padding: 0em 0.3em;
}

#main-page {
	padding: 0em 0.2em;
}

#thumbnail-toggle {
	padding: 0em 0.2em;
}

#arrow-back:hover,
#arrow-forward:hover,
#git-branch:hover,
#main-page:hover,
#thumbnail-toggle:hover {
	/*color: rgb(218, 215, 215);*/
	color: #181818;
	cursor: pointer;
	/*font-size: 1.6em;*/
	transform: scale(1.1);
	transition: transform 0.2s ease;

}

/*********LoadingPage*************/
#loading_all {
	position: absolute;
	background-color: #000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

#loading_bg {
	background-color: rgba(0, 0, 0, 0.7);
}

.loader {
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	user-select: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: #fff;
	letter-spacing: 0.2em;
}

.loader::before, .loader::after {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: #fff;
	position: absolute;
	-webkit-animation: load .7s infinite alternate ease-in-out;
	animation: load .7s infinite alternate ease-in-out;
}

.loader::before {
	top: 0;
}

.loader::after {
	bottom: 0;
}

@-webkit-keyframes load {
	0% {
		left: 0;
		height: 30px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 40px;
	}
	100% {
		left: 235px;
		height: 30px;
		width: 15px;
	}
}

@keyframes load {
	0% {
		left: 0;
		height: 30px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 40px;
	}
	100% {
		left: 235px;
		height: 30px;
		width: 15px;
	}
}

/********************************/


.loading-wrapper {
	margin-left: 10px;
	margin-top: 4px;
	width: 100%;
}

.loading {
	display: none;
}

.loading img {
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 0.3em;
	width: 16px;
}

.pswp__preloader__icn {
	opacity:0.75;
	width: 14px;
	height: 14px;
	-webkit-animation: clockwise 500ms linear infinite;
	animation: clockwise 500ms linear infinite;
}

.pswp__preloader__cut {
	position: relative;
	width: 6px;
	height: 12px;
	overflow: hidden;
	top: 0;
	left: 0;
}

.pswp__preloader__donut {
	box-sizing: border-box;
	width: 14px;
	height: 14px;
	border: 2px solid #6ca3e5;
	border-radius: 50%;
	border-left-color: transparent;
	border-bottom-color: transparent;
	top: 0;
	left: 0;
	background: none;
	margin:0;
	-webkit-animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
	animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
}

@-webkit-keyframes clockwise {
	0% { -webkit-transform: rotate(0deg) }
	100% { -webkit-transform: rotate(360deg) }
}
@keyframes clockwise {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}
@-webkit-keyframes donut-rotate {
	0% { -webkit-transform: rotate(0) }
	50% { -webkit-transform: rotate(-140deg) }
	100% { -webkit-transform: rotate(0) }
}
@keyframes donut-rotate {
	0% { transform: rotate(0) }
	50% { transform: rotate(-140deg) }
	100% { transform: rotate(0) }
}

ion-icon {
	font-size: 1.5em;
}

* {
	box-sizing: border-box;
<!-- font-family: serif;
-->

}

#git-branch {
	padding: 3px;
	font-size: 1.2em;
	margin-top: 1px;
}

#nav-site, #git-branch-a {
	font-family: serif;
	color: inherit;
	text-decoration: none;
	display: block;
	border: none;
	margin-right: 14px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

#git-branch-a {
	margin-right: 0px;
}

#nav-site, #nav-site:hover, #nav-site:active, #nav-site:visited, #nav-site:link, #nav-site:focus {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
	background: none;
	text-decoration: none;
}

.markdown-body {
	min-width: 200px;
	margin: 0 auto;
	padding: .7em 1em;
	/*font-size: .8em;*/
}

.markdown-body h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

.markdown-body img {
	max-width: 90%;
	max-height: 800px;
	width: auto;
	height: auto;
	display: block;
	margin: 0 auto;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.header-wrapper {
	position: fixed;
	height: 3em;
	width: 100%;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header {
	box-shadow: 0px 1px 5px #e1e1e1;
	padding: 0 0.5em 0 0.5em;
	height: 100%;
	display: flex;
	align-items: center;
	/* border-bottom: solid rgb(218, 215, 215) 1px; */
}

.logo {
	margin-right: .3em;
}

.site {
	white-space: nowrap;
	/* margin-left: auto;
		padding-left: 2em; */
}

#arrow-back:hover,
#arrow-forward:hover,
#git-branch:hover,
#main-page:hover,
#thumbnail-toggle:hover {
	background-color: #f3f3f3;
	border-radius: 5px;
}

.tree-node:hover,
.row.file-wrapper:hover {
	color: rgb(255 255 255);
	background-color: #0f0f0f;
	cursor: pointer;
}

.row.file-wrapper-hover {
	color: rgb(255 255 255);
	background-color: #0f0f0f;
	cursor: pointer;
}

.container {
	position: fixed;
	width: 100%;
	height: calc(100% - 3em);
	margin-top: 3em;
}

.main {
	position: relative;
	height: 100%;
	width: 100%;
}

.left {
	position: absolute;
	display: inline-grid;
	font-family: serif;
	width: 20%;
	height: 100%;
	font-size: .8em;
	overflow: scroll;
}

#tree-root {
	user-select: none;
}

#tree-root > .tree-node-wrapper {
	margin-left: 0px;
}

.tree-node-wrapper {
	margin-left: 1.5em;
}

.tree-node {
	display: flex;
	align-items: center;
	height: 35px;
	border-bottom: solid 1px #ededed;
}

.tree-node-name {
	margin-left: .3em;
	white-space: nowrap;
}

.right {
	position: absolute;
	width: 80%;
	height: 100%;
	margin-left: 20%;
	overflow: scroll;
}

.row {
	height: 2.5em;
	padding: 0 .8em 0 1em;
	display: flex;
	align-items: center;
	border-bottom: solid rgb(218, 215, 215) 1px;
}

.row.file-wrapper {
	font-size: .8em;
	padding: 0 1em;
	height: 3em;
	transition: all 0.2s;
}

/*.row .file-wrapper::after {*/
/*	content: "";*/
/*	height: 100%;*/
/*	width: 100%;*/
/*	position: absolute;*/
/*	left: 0;*/
/*	top: 0;*/
/*	background: url(../img/favicon.ico) no-repeat center;*/
/*}*/

.thumbnail {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	padding-top: 8px;
	padding-left: 5px;
	padding-right: 5px;
}

.thumbnail .row.file-wrapper .file {
	color: white;
	text-align: center;
	background: linear-gradient(90deg, #0000008f, #00000047);
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 84px;
}

.thumbnail .row.file-wrapper {
	height: 8em;
	margin: 4px;
	padding: unset;
	border-radius: 5px;
	box-shadow: 0px 0px 7px #dfdfdf;
	background: url(../img/file.jpg) no-repeat center;
}

.thumbnail .row.file-wrapper:hover {
	background-color: #7e98a8 !important;
	transform: scale(1.03);
}

.thumbnail .row {
	/*align-items: end;*/
}

.thumbnail .name {
	width: 100%;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.thumbnail .size {
	padding-right: 5px;
	display: none;
}

.thumbnail ion-icon {
	display: none;
}

.thumbnail .file-wrapper-hover {
	transform: scale(1.03);
	background-color: #7e98a8 !important;
}

/*@media screen and (max-width: 1250px) {*/
/*	.thumbnail .row.file-wrapper{*/
/*		width: 19%;*/
/*	}*/
/*}*/

/*@media screen and (max-width: 800px) {*/
/*	.thumbnail .row.file-wrapper{*/
/*		width: 23%;*/
/*	}*/
/*}*/

/*@media screen and (max-width: 500px) {*/
/*	.thumbnail .row.file-wrapper{*/
/*		width: 30%;*/
/*	}*/
/*}*/

.file {
	width: 100%;
	height: 18px;
	display: flex;
	align-items: center;
}

.name {
	/* display: flex; */
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 70%;
	padding-left: .3em;
}

.list-header {
	font-family: serif;
}

#file-list {
	/*display: block;*/
	overflow: hidden;
	user-select: none;
	/*font-family: serif;*/
}

.list-header .name {
	width: calc(70% + 1.1em);
	padding-left: 0;
}

.time {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	width: 133px;
}

.markdown-body .highlight pre, .markdown-body pre {
	color: white;
	background-color: #2b2b2b;
	border-radius: 3px;
	font-size: 16px;
	line-height: 1.45;
	overflow: auto;
	padding: 16px;
}

.content .markdown-body pre {
	color: white;
	background-color: #2b2b2b;
	border-radius: 3px;
	font-size: 16px;
	overflow: auto;
	padding: 16px;
}

#readme {
	padding-top: 20px;
}

.size {
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: auto;
}

/* for block of numbers */
.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	text-align: right;
	color: #6c6c6c;
	border-right: 1px solid #CCC;
	vertical-align: top;
	padding-left: 5px;
}

.contextmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contextmenu {
	width: 160px;
	border-radius: 6px;
	padding: 6px 0;
	box-shadow: 2px 2px 4px #0000002b;
	background-color: #fff;
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
}

.contextmenu li {
	border-bottom: dashed #e5e5e5 1px;
	height: 40px;
	line-height: 40px;
}

.contextmenu li:last-child {
	border-bottom: none;
}

.contextmenu li a {
	font-size: 15px;
	text-decoration: none;
	color: #666666FF;
	display: flex;
	padding: 0 14px;
}

.contextmenu li a:hover {
	color: #4393E6FF;
	background-color: #E0EEFDFF;
}

#contextmenu-ul ion-icon {
	margin: 11px 1px;
	font-size: 19px;
	padding: 0 7px;
}

/*.thumbnail .tooltip {*/
/*}*/

/*.thumbnail .tooltip:hover::before {*/
/*	word-break: keep-all;*/
/*	white-space: nowrap;*/
/*	content: attr(title);*/
/*	user-select: text;*/
/*	position: absolute;*/
/*	padding: 2px 6px;*/
/*	display: block;*/
/*	color: #EFEFF1FF;*/
/*	border-radius: 2px;*/
/*	font-size: 14px;*/
/*	line-height: 20px;*/
/*	top: 14.6%;*/
/*	left: 22%;*/
/*	background-color: rgba(0, 0, 0, 0.80);*/
/*	z-index: 999;*/
/*}*/

/*.thumbnail .tooltip:hover::after {*/
/*	content: "﹀";*/
/*	border-style: solid dashed dashed dashed;*/
/*	border-color: rgba(0, 0, 0, 0.80) transparent transparent transparent;*/
/*	position: absolute;*/
/*	top: 38px;*/
/*	left: 30%;*/
/*	overflow: hidden;*/
/*	width: 0px;*/
/*	height: 0px;*/
/*	border-width: 4px;*/
/*}*/

.layui-layer-rounded {
	border-radius: 12px !important;
	overflow: hidden; /* 可选，防止内容超出 */
}

.modal-buttons {
	display: flex;
	flex-direction: column; /* 垂直排列 */
	gap: 12px;              /* 按钮间距 */
	padding: 16px;
	align-items: stretch;   /* 每个按钮宽度相同 */
}

.modal-buttons button {
	padding: 12px 20px;
	font-size: 16px;
	border: none;
	border-radius: 8px;
	/*background-color: #4A90E2; !* 蓝色主色 *!*/
	color: white;
	cursor: pointer;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	/*transition: background-color 0.25s, transform 0.2s;*/
}

.modal-buttons button:hover {
	/*background-color: #357ABD;*/
	transform: translateY(-1px);
}

.modal-buttons button:active {
	/*background-color: #2E5EA7;*/
	transform: scale(0.98);
}

.btn-potplayer {
	background-color: #f6e14b;
}
.btn-potplayer:hover {
	background-color: #dfcc44;
}

.btn-vlc {
	background-color: #f19f40;
}
.btn-vlc:hover {
	background-color: #e1943a;
}

/*.btn-iina {*/
/*	background-color: #5dc2f7;*/
/*}*/
/*.btn-iina:hover {*/
/*	background-color: #4797c1;*/
/*}*/

.btn-iina {
	padding: 12px 20px;
	font-size: 16px;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	background-image: linear-gradient(
			135deg,
			#3431f5 0px,
			#5dc2f7 160px
	);
	background-size: 200% 200%;
	background-position: 0% 50%;
	transition: background-position 0.5s ease;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-iina:hover {
	background-position: 10% 50%;
}

.btn-nplayer {
	padding: 12px 20px;
	font-size: 16px;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	background-image: repeating-linear-gradient(
			135deg,
			#fbed53 0px,
			#fbed53 40px,
			#aaf056 40px,
			#aaf056 80px,
			#5fc7ec 80px,
			#5fc7ec 120px,
			#eb4834 120px,
			#eb4834 160px
	);
	background-size: 200% 200%;
	background-position: 0% 50%;
	transition: background-position 0.5s ease;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-nplayer:hover {
	background-position: 10% 50%;
}



@media screen and (max-width: 1000px) {
	.left {
		display: none;
	}

	.right {
		width: 100%;
		margin-left: initial;
	}
}

@media screen and (max-width: 800px) {
	.name {
		width: 60%;
	}

	.list-header .name {
		width: calc(60% + 1.1em);
	}
}

@media screen and (max-width: 600px) {
	pre * {
		font-size: 13px;
	}

	.markdown-body .highlight pre, .markdown-body pre {
		font-size: 13px;
	}

	.name {
		width: 75%;
	}

	.time {
		display: none;
	}

	.header {
		padding: 0 1em;
	}

	.row {
		padding: 0 .3em;
	}

	.row.file-wrapper {
		padding: 0 .3em;
		height: 3em;
	}

	.markdown-body {
		padding: .6em .3em;
	}

	/*.file-name {*/
	/*	padding: 1em .3em 0;*/
	/*}*/

	.content {
		padding: 0 .3em;
	}

	.info .btn.download {
		margin-right: .3em;
	}

	.logo {
		width: 2em;
		height: 2em;
	}

	#nav-site {
		margin-right: 0px;
	}

	#git-branch-a {
		/*display: none;*/
		margin-left: 10px;
		margin-right: -9px;
		font-size: 11px;
	}


}