<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div class="block-thumb">
	<div class="">
		<img th:src="${url}" alt="" style="width: 100px; height: 100px;">
		<a th:href="${url}">[[${url}]]</a>
	</div>
</div>
</body>
<script>"[[${url}]]"
downloadData=(excelUrl,reportName)=>{
	let token = "Bearer " + sessionStorage.getItem('token')
	fetch(DOWNLOAD + excelUrl, {
		headers: {
			'Content-type': 'application/json;charset=UTF-8',
			'Authorization': token
		}
	}).then(res => res.blob().then(blob => {
		var filename=`${reportName}.xls`
		var a = document.createElement('a');
		var url = window.URL.createObjectURL(blob);
		a.href = url;
		a.download = filename;
		a.click();
		window.URL.revokeObjectURL(url);
	}))
}
</script>
</html>