<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="referrer" content="never">
	<meta charset="UTF-8">
	<title>PAN · RAWCHEN</title>
	<link rel="shortcut icon" th:href="@{/static/img/favicon.ico}">
	<link rel="apple-touch-icon" th:href="@{/static/img/favicon.ico}">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<script src="https://s0.pstatp.com/cdn/expire-1-M/ionicons/4.5.6/ionicons.js"></script>
	<script src="https://s0.pstatp.com/cdn/expire-1-M/marked/0.6.2/marked.min.js"></script>
	<script src="https://s0.pstatp.com/cdn/expire-1-M/highlight.js/9.15.6/highlight.min.js"></script>
	<link href="https://s0.pstatp.com/cdn/expire-1-M/highlight.js/9.15.6/styles/monokai-sublime.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.6.0/dist/highlightjs-line-numbers.min.js"></script>
	<link href="https://s0.pstatp.com/cdn/expire-1-M/github-markdown-css/3.0.1/github-markdown.min.css" rel="stylesheet"/>
	<script src="https://s0.pstatp.com/cdn/expire-1-M/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://s0.pstatp.com/cdn/expire-1-M/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<link href="https://s0.pstatp.com/cdn/expire-1-M/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet"/>

	<link th:href="@{/static/css/mystyle.css}" rel="stylesheet"/>
	<script th:src="@{/static/layer/layer.js}"></script>
</head>
<body>

<template id="tree-node-wrapper-template">
	<div class="tree-node-wrapper">
		<div class="tree-node">
			<ion-icon></ion-icon>
			<ion-icon></ion-icon>
			<div class="tree-node-name"></div>
		</div>
	</div>
</template>
<template id="file-wrapper-templete">
	<div class="row file-wrapper">
		<div class="file">
			<ion-icon></ion-icon>
			<span class="name"></span>
			<span class="time"></span>
			<span class="size"></span>
		</div>
	</div>
</template>

<div class="loading-wrapper">
	<div class="loading">Loading...</div>
</div>
<div class="header-wrapper">
	<div class="header">
		<ion-icon id="arrow-back" class="logo" name="arrow-back"></ion-icon>
		<ion-icon id="arrow-forward" class="logo" name="arrow-forward"></ion-icon>
		<ion-icon id="main-page" class="logo" name="home"></ion-icon>
		<div class="nav">
                <span id="path">
                </span>
		</div>
		<a class="site" id="nav-site" href="javascript:void(0);" onclick="domain_index()" title="刷新">AliPan</a>
		<a class="site" id="git-branch-a" target="_black" href="https://rawchen.com/enjoy/alipan.html"
		   title="你也想要属于自己的云盘？">
			<ion-icon id="git-branch" name="git-branch" class="logo"></ion-icon>
		</a>

	</div>
</div>
<div class="container">
	<div class="main">
		<div class="left">
			<div id="tree-root">
			</div>
		</div>
		<div class="right">
			<div class="list-header">
				<div class="row" style="border-bottom:solid rgb(123 183 255) 3px;font-weight:700;">
					<div class="file">
						<span class="name">ITEMS</span>
						<span class="time">TIME</span>
						<span class="size">SIZE</span>
					</div>
				</div>
			</div>
			<div id="file-list">
			</div>
			<div class="markdown-body">
				<div id="readme">
				</div>
			</div>
			<div class="preview">
				<div class="info">
					<div class="file-name"></div>
					<div class="btn download">下载</div>
					<div class="btn share">分享</div>
				</div>
				<div class="content"></div>
			</div>
			<div class="password-wrapper">
				<div class="password">
					<input type="password">
					<button>提交</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="contextmenu" id="context">
	<ul id="contextmenu-ul">
		<li><a id="open" href="javascript:;">打开</a></li>
		<li><a id="share" href="javascript:;">分享</a></li>
		<li><a id="download" href="javascript:;">下载</a></li>
	</ul>
</div>
</body>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		if ("[[${type}]]" === "folder") {
			sendRequest("POST",
				"/getFolder/" + "[[${fileId}]]",
				{'Content-type': 'application/x-www-form-urlencoded'},
				function (data) {
					renderFileList(JSON.parse(data));
					//初始化根节点列表的树
					renderTreeNode(JSON.parse(data));
				}
			);
		} else {
			sendRequest("POST",
				"/getFile/" + "[[${fileId}]]",
				{'Content-type': 'application/x-www-form-urlencoded'},
				function (data) {
					let file = JSON.parse(data);
					dealFile("[[${fileId}]]", file.data.url, formatSize(file.data.size), file.data.name, file.data.download_url);
				}
			);
		}

		addBackForwardListener();
	});

	function addBackForwardListener() {
		document.getElementById('arrow-back').addEventListener('click', back);
		document.getElementById('arrow-forward').addEventListener('click', forward);
		document.querySelector('#main-page').addEventListener('click', () => {
			location.href = document.location.protocol + "//" + window.location.host;
		});
	}

	function back() {
		//根据该文件夹或文件的fileId去请求parent再渲染列表

	}

	function forward() {

	}

	function domain_index() {
		location.reload();
	}

	function createCORSRequest(method, url, timeout) {
		let xhr = new XMLHttpRequest();
		if ('withCredentials' in xhr) {
			xhr.open(method, url, true);
		} else if (typeof XDomainRequest !== 'undefined') {
			xhr = new XDomainRequest();
			xhr.open(method, url);
		} else {
			xhr = null;
		}
		if (xhr) {
			xhr.timeout = timeout;
		}
		return xhr;
	}

	function sendRequest(method, url, headers, callback, error, times) {
		let xhr = createCORSRequest(method, url, 2500);
		xhr.onreadystatechange = () => {
			if (xhr.readyState === 4 && xhr.status === 200) {
				callback(xhr.responseText);
			}
		};
		xhr.timeout = xhr.onerror = () => {
			if (!times) {
				times = 0;
			}
			console.log({
				url: url,
				times: times
			})
			if (times < 1) {
				sendRequest(method, url, headers, callback, error, times + 1);
			} else if (typeof error === 'function') {
				error();
			}
		}
		if (headers) {
			for (key in headers) {
				if (headers.hasOwnProperty(key)) {
					xhr.setRequestHeader(key, headers[key]);
				}
			}
		}
		xhr.send();
	}

	function renderFileList(files) {
		switchRightDisplay();

		const createFileWrapper = (type, name, time, size, fileId, url, downloadUrl) => {
			let fileWrapper = document.getElementById('file-wrapper-templete').content.cloneNode(true);
			fileWrapper.querySelector('ion-icon').setAttribute('name', type);
			fileWrapper.querySelector('.name').innerHTML = name;
			fileWrapper.querySelector('.time').innerHTML = time;
			fileWrapper.querySelector('.size').innerHTML = size;
			addFileListLineListener(fileWrapper.querySelector('.row.file-wrapper'), fileId, url, size, name, downloadUrl);
			return fileWrapper;
		};

		let fileList = document.getElementById('file-list');
		fileList.innerHTML = '';

		document.getElementById('readme').innerHTML = '';
		if (files === null) {
			location.reload();
		}
		// document.getElementsByClassName("markdown-body")[0].innerHTML = '';
		files.data.items.forEach(file => {
			if (file.type === 'file' && file.name === "README.md") {
				renderMarkdown(file.url, true);
			}
			if (file.name !== "README.md") {
				fileList.appendChild(
					createFileWrapper(
						file.url ? "document" : "folder",
						file.name,
						formatDate(file.created_at),
						file.size ? formatSize(file.size) : '未知',
						file.file_id,
						file.url,
						file.download_url
					)
				);
			}
		});
	}

	async function renderMarkdown(url, isReadMeMarkdown) {
		const render = text => {
			let markedText;
			try {
				markedText = marked(text, {
					gfm: true,
					highlight: (code, lang) => {
						return hljs.highlight(lang, code).value;
					}
				});
			} catch (e) {
				markedText = marked(text, {
					gfm: true,
					highlight: (code) => {
						return hljs.highlight('bash', code).value;
					}
				});
			}
			if (isReadMeMarkdown) {
				document.getElementById('readme').innerHTML = markedText;
				document.querySelector('.markdown-body').style.display = 'block';
			} else {
				let mdDiv = document.createElement("div");
				mdDiv.classList.add("markdown-body");
				mdDiv.innerHTML = markedText;
				document.querySelector(".content").append(mdDiv);
			}
		};
		sendRequest('GET', url, null, text => render(text));
	}


	function dealFile(fileId, url, size, name, downloadUrl) {
		// window.backFordwardCache.preview = true;
		switchRightDisplay('preview');
		const previewHandler = {
			copyTextContent: (source, text) => {
				let result = false;
				let target = document.createElement('pre');
				target.style.opacity = '0';
				target.textContent = text || source.textContent;
				document.body.appendChild(target);
				try {
					let range = document.createRange();
					range.selectNode(target);
					window.getSelection().removeAllRanges();
					window.getSelection().addRange(range);
					document.execCommand('copy');
					window.getSelection().removeAllRanges();
					result = true;
				} catch (e) {
				}
				document.body.removeChild(target);
				return result;
			},
			fileType: suffix => {
				Array.prototype.contains = function (search) {
					const object = this;
					for (const key in object) {
						if (object.hasOwnProperty(key)) {
							if ((eval('/^' + search + '$/i')).test(object[key])) {
								return true;
							}
						}
					}
					return false;
				};
				if (['bmp', 'jpg', 'jpeg', 'png', 'svg', 'webp', 'gif'].contains(suffix)) {
					return 'image';
				} else if (['mp3', 'flac', 'wav', 'ogg'].contains(suffix)) {
					return 'audio';
				} else if (['mp4', 'webm', 'avi', 'mkv', 'flv', 'm3u8', 'mov'].contains(suffix)) {
					return 'video';
				} else if (
					[
						'txt', 'js', 'json', 'css', 'htm', 'html', 'java', 'c', 'cpp',
						'vue', 'py', 'h', 'hpp', 'gitignore', 'php', 'conf', 'ini',
						'cmd', 'ps1', 'bat', 'sh', 'py', 'go', 'asp', 'reg', 'sql',
						'properties', 'yml', 'xml'
					].contains(suffix)
				) {
					return 'text';
				} else if (
					['doc', 'docx', 'ppt', 'pptx', 'xls', 'xlsx', 'mpp', 'rtf', 'vsd', 'vsdx', 'csv'].contains(suffix)
				) {
					return 'office';
				} else if (['pdf'].contains(suffix)) {
					return 'pdf';
				} else if (['md'].contains(suffix)) {
					return 'markdown';
				}
				;
			},
			loadResource: (resource, callback) => {
				let type;
				switch (resource.split('.').pop()) {
					case 'css':
						type = 'link';
						break;
					case 'js':
						type = 'script';
						break;
				}
				let element = document.createElement(type);
				let loaded = false;
				if (typeof callback === 'function') {
					element.onload = element.onreadystatechange = () => {
						if (!loaded && (!element.readyState || /loaded|complete/.test(
							element.readyState))) {
							element.onload = element.onreadystatechange = null;
							loaded = true;
							callback();
						}
					}
				}
				if (type === 'link') {
					element.href = resource;
					element.rel = 'stylesheet';
				} else {
					element.src = resource;
				}
				document.getElementsByTagName('head')[0].appendChild(element);
			},

			createDplayer: (video, type, elem) => {
				const host = 'https://s0.pstatp.com/cdn/expire-1-M';
				const resources = [
					'/dplayer/1.25.0/DPlayer.min.css',
					'/dplayer/1.25.0/DPlayer.min.js',
					'/hls.js/0.12.4/hls.light.min.js',
					'/flv.js/1.5.0/flv.min.js'
				];
				let unloadedResourceCount = resources.length;
				resources.forEach(resource => {
					previewHandler.loadResource(host + resource, () => {
						if (!--unloadedResourceCount) {
							let option = {
								url: video
							}
							if (type === 'flv') {
								option.type = 'flv';
							}
							new DPlayer({
								container: elem,
								volume: 0.5,
								screenshot: true,
								video: option
							});
						}
					})
				});
			}
		}
		const suffix = name.split('.').pop();
		let content = document.querySelector('.content');
		let contentType = previewHandler.fileType(suffix);
		switch (contentType) {
			case 'image':
				let img = new Image();
				img.style.maxWidth = '100%';
				img.style.border = '4px dotted #94b4d1';
				img.style.padding = '6px';
				img.src = url;
				let fancy = document.createElement('a');
				fancy.setAttribute('data-fancybox', 'image');
				fancy.href = img.src;
				fancy.append(img);
				content.innerHTML = '';
				content.append(fancy);
				break;
			case 'audio':
				let audio = new Audio();
				audio.style.outline = 'none';
				audio.preload = 'auto';
				audio.volume = 0.3;
				audio.controls = 'controls';
				audio.style.width = '100%';
				audio.src = url;
				content.innerHTML = '';
				content.append(audio);
				break;
			case 'video':
				let video = document.createElement('div');
				previewHandler.createDplayer(url, suffix, video);
				content.innerHTML = '';
				content.append(video);
				break;
			case 'text':
				let pre = document.createElement('pre');
				let code = document.createElement('code');
				pre.append(code);
				pre.style['overflow-x'] = 'scroll';
				pre.classList.add(suffix);
				content.style['text-align'] = 'initial';
				content.innerHTML = '';
				content.append(pre);
				sendRequest('GET', url, null, data => {
					code.textContent = data;
					if (size.indexOf(' B') >= 0 || size.indexOf(' KB') && size.split(' ')[0] < 100) {
						$('pre code').each(function (i, block) {
							hljs.highlightBlock(block);
							hljs.lineNumbersBlock(block);
						});
					}
				});
				break;
			case 'office':
				const officeOnline = 'https://view.officeapps.live.com/op/view.aspx?src=' + encodeURIComponent(url);
				// const officeOnline = 'https://view.officeapps.live.com/op/embed.aspx?src=' + encodeURIComponent(url);
				// const officeOnline = 'https://docs.google.com/viewer?url=' + encodeURIComponent(url);
				let div = document.createElement('div');
				div.className = 'target-blank';
				div.innerHTML = '点我新窗口打开';
				div.addEventListener('click', () => window.open(officeOnline));
				content.innerHTML = '';
				content.appendChild(div);
				if (document.body.clientWidth >= 480) {
					let iframe = document.createElement('iframe');
					iframe.width = '100%';
					iframe.style.height = '41em';
					iframe.style.border = '0';
					iframe.src = officeOnline;
					content.appendChild(iframe);
				}
				break;
			case 'pdf':
				const pdfOnline = 'https://pdf.rawchen.com/web?file=' + encodeURIComponent(url);
				let div2 = document.createElement('div');
				div2.className = 'target-blank';
				div2.innerHTML = '点我新窗口打开';
				div2.addEventListener('click', () => window.open(pdfOnline));
				content.innerHTML = '';
				content.appendChild(div2);
				if (document.body.clientWidth >= 300) {
					let iframe2 = document.createElement('iframe');
					iframe2.width = '100%';
					iframe2.style.height = '41em';
					iframe2.style.border = '0';
					iframe2.src = pdfOnline;
					content.appendChild(iframe2);
				}
				break;
			case 'markdown':
				renderMarkdown(url, false);
				break;
			default:
				content.style['text-align'] = 'center';
				content.innerHTML = '该文件不支持预览';
				break;

		}
		let address;
		if (url) {
			address = document.location.protocol + "//" + window.location.host + "/file/" + fileId;
		} else {
			address = document.location.protocol + "//" + window.location.host + "/folder/" + fileId;
		}
		// document.querySelector('.file-name').innerHTML = address + "\t" + name;
		document.querySelector('.file-name').innerHTML = name;
		document.querySelector('.btn.download').addEventListener('click',
			() => {
				previewHandler.copyTextContent(null, downloadUrl);
				location.href = downloadUrl;
				const btn = document.querySelector('.btn.download');
				btn.innerHTML = '已复制';
				setTimeout(() => btn.innerHTML = '下载', 3000);
			}
		);
		document.querySelector('.btn.share').addEventListener('click',
			() => {
				previewHandler.copyTextContent(null, address);
				const btn = document.querySelector('.btn.share');
				btn.innerHTML = '已复制';
				setTimeout(() => btn.innerHTML = '分享', 3000);
			}
		);

		let start = null;
		let right = document.querySelector('.right');
		const scrollToBottom = (timestamp) => {
			if (!start) start = timestamp;
			let progress = timestamp - start;
			let last = right.scrollTop;
			right.scrollTo(0, right.scrollTop + 14);
			if (right.scrollTop !== last && progress < 1000 * 2) {
				window.requestAnimationFrame(scrollToBottom);
			}
		};
		window.requestAnimationFrame(scrollToBottom);
	}

	function switchBackForwardStatus(path) {
		if (path) {
			window.backFordwardCache.deepest = path;
		}
		if (window.backFordwardCache.root !== window.backFordwardCache.current) {
			window.backFordwardCache.backable = true;
			document.getElementById('arrow-back').style.color = '#545454';
		} else {
			// window.backFordwardCache.backable = false;
			// document.getElementById('arrow-back').style.color = 'rgb(218, 215, 215)';
		}
		if (window.backFordwardCache.deepest !== window.backFordwardCache.current) {
			window.backFordwardCache.forwardable = true;
			document.getElementById('arrow-forward').style.color = '#545454';
		} else {
			window.backFordwardCache.forwardable = false;
			document.getElementById('arrow-forward').style.color = '#545454';
		}
	}

	function addPathListener(elem, path) {
		elem.addEventListener('click', event => {
			// fetchFileList(path);
			switchBackForwardStatus(path);
		});
	}

	function addTreeNodeListener(elem, fileId) {
		elem.addEventListener('click', event => {
			if (fileId !== null) {
				sendRequest("POST",
					"/getFolder/" + fileId,
					{'Content-type': 'application/x-www-form-urlencoded'},
					function (data) {
						let files = JSON.parse(data);
						renderFileList(files);

						let folderCount = 0;
						files.data.items.forEach(file => {
							folderCount++;
						});
						if (folderCount === 0) {
							layer.msg("找不到东西哦");
						}

						//判断是否重复添加列表元素(判断新增的文件夹只要存在同名肯定重复，抛异常)
						try {
							files.data.items.forEach(file => {
								elem.parentElement.querySelectorAll('.tree-node-name').forEach(item => {
									if (item.textContent === file.name) {
										throw Error();
									}
								});

								if (!file.url) {
									elem.parentElement.append(createTreeNodeWrapper(
										'arrow-dropright',
										'folder-open',
										file.name,
										file.file_id
									));
								}
							});
						} catch (e) {
							// console.log('error : ' + e);
						}
					}
				);
			}
		});
	}

	function addFileListLineListener(elem, fileId, url, size, name, downloadUrl) {
		//如果url不为空则时文件，为空就是文件夹
		if (url) {
			elem.addEventListener('click', event => {
				dealFile(fileId, url, size, name, downloadUrl);
			});

			//为elem添加右键点击事件，传数据
			elem.setAttribute("fileId", fileId);
			elem.setAttribute("fileDownloadUrl", downloadUrl);
			rightmenu(elem, "file");
		} else {
			elem.addEventListener('click', event => {
				sendRequest("POST",
					"/getFolder/" + fileId,
					{'Content-type': 'application/x-www-form-urlencoded'},
					function (data) {
						renderFileList(JSON.parse(data));
					}
				);
			});
			elem.setAttribute("fileId", fileId);
			rightmenu(elem, "folder");
		}
	}

	function switchRightDisplay(display) {
		if (display === 'preview') {
			document.querySelector('.list-header').style.display = 'none';
			document.querySelector('#file-list').style.display = 'none';
			document.querySelector('.markdown-body').style.display = 'none';
			document.querySelector('.password').style.display = 'none';
			document.querySelector('.preview').style.display = 'initial'
		} else if (display === 'encrypted') {
			document.querySelector('.list-header').style.display = 'none';
			document.querySelector('#file-list').style.display = 'none';
			document.querySelector('.markdown-body').style.display = 'none';
			document.querySelector('.preview').style.display = 'none';
			document.querySelector('.password').style.display = 'initial';
			document.querySelector('#readme').innerHTML = '';
			let content = document.querySelector('.preview .content');
			if (content) {
				document.querySelector('.preview .content').innerHTML = '';
			}
		} else {
			document.querySelector('.list-header').style.display = 'initial';
			document.querySelector('#file-list').style.display = 'initial';
			document.querySelector('.markdown-body').style.display = 'none'
			document.querySelector('.preview').style.display = 'none';
			document.querySelector('.password').style.display = 'none';
			document.querySelector('#readme').innerHTML = '';
			let content = document.querySelector('.preview .content');
			if (content) {
				document.querySelector('.preview .content').innerHTML = '';
			}
		}
	}

	const formatDate = date => {
		const addZero = num => num > 9 ? num : '0' + num;
		date = new Date(date);
		const year = date.getFullYear();
		const month = addZero(date.getMonth() + 1);
		const day = addZero(date.getDate());
		const hour = addZero(date.getHours());
		const minute = addZero(date.getMinutes());
		const second = addZero(date.getSeconds());
		return 'yyyy-MM-dd HH:mm:ss'
			.replace('yyyy', year)
			.replace('MM', month)
			.replace('dd', day)
			.replace('HH', hour)
			.replace('mm', minute)
			.replace('ss', second);
	};

	const formatSize = size => {
		let count = 0;
		while (size >= 1024) {
			size /= 1024;
			count++;
		}
		size = size.toFixed(2);
		switch (count) {
			case 1:
				size += ' KB';
				break;
			case 2:
				size += ' MB';
				break;
			case 3:
				size += ' GB';
				break;
			case 4:
				size += ' TB';
				break;
			case 5:
				size += ' PB';
				break;
			default:
				size += ' B';
		}
		return size;
	};

	const createTreeNodeWrapper = (array, type, name, fileId) => {
		//创建树节点包含图标
		let treeNodeWrapper = document.getElementById('tree-node-wrapper-template').content.cloneNode(true);
		let icons = treeNodeWrapper.querySelectorAll('ion-icon');
		icons[0].setAttribute('name', array);
		icons[1].setAttribute('name', type);
		treeNodeWrapper.querySelector('.tree-node-name').innerText = name;
		treeNodeWrapper.appendNode = node => treeNodeWrapper.querySelector('.tree-node-wrapper').append(node);
		addTreeNodeListener(treeNodeWrapper.querySelector('.tree-node'), fileId);
		return treeNodeWrapper;
	}

	function renderTreeNode(files) {

		const treeRoot = document.getElementById('tree-root');
		treeRoot.innerHTML = '';
		files.data.items.forEach(file => {
			if (!file.url) {
				treeRoot.append(createTreeNodeWrapper('arrow-dropright',
					'folder',
					file.name,
					file.file_id
				));
			}
		});
	}

	function js_method_open(type, fileId) {
		if (type === "folder") {
			sendRequest("POST",
				"/getFolder/" + fileId,
				{'Content-type': 'application/x-www-form-urlencoded'},
				function (data) {
					renderFileList(JSON.parse(data));
				}
			);
		} else {
			sendRequest("POST",
				"/getFile/" + fileId,
				{'Content-type': 'application/x-www-form-urlencoded'},
				function (data) {
					let file;
					file = JSON.parse(data);
					dealFile("[[${fileId}]]", file.data.url, formatSize(file.data.size), file.data.name, file.data.download_url);
				}
			);
		}
	}

	function js_method_share(type, fileId) {
		let address;
		if (type === "folder") {
			address = document.location.protocol + "//" + window.location.host + "/folder/" + fileId;
		} else if (type === "file") {
			address = document.location.protocol + "//" + window.location.host + "/file/" + fileId;
		}

		let target = document.createElement('pre');
		target.style.opacity = '0';
		target.textContent = address;
		document.body.appendChild(target);
		try {
			let range = document.createRange();
			range.selectNode(target);
			window.getSelection().removeAllRanges();
			window.getSelection().addRange(range);
			if (document.execCommand('copy')) {
				document.execCommand('copy');
				layer.msg("已复制");
			}
			window.getSelection().removeAllRanges();
		} catch (e) {
		}
		document.body.removeChild(target);
	}

	function js_method_download(type, url) {
		if (type === "file") {
			location.href = url;
		}
	}

	function rightmenu(element, type) {
		const context = document.getElementById("context");
		element.oncontextmenu = function (env) {
			//env 表示event事件、兼容event事件写法
			var e = env || window.event;
			let aList = context.getElementsByTagName('a')
			for (var i = 0; i < aList.length; i++) {
				aList[i].addEventListener('click', function () {
					if (this.id === "open") {
						this.href = "javascript:js_method_open(\"" + type + "\",\"" + element.getAttribute("fileId") + "\");"
					} else if (this.id === "share") {
						this.href = "javascript:js_method_share(\"" + type + "\",\"" + element.getAttribute("fileId") + "\");"
					} else if (this.id === "download") {
						this.href = "javascript:js_method_download(\"" + type + "\",\"" + element.getAttribute("fileDownloadUrl") + "\");"
					}
				});
			}

			if (type === "folder") {
				document.getElementById("download").parentElement.style.display = "none";
			} else {
				document.getElementById("download").parentElement.style.display = "block";
			}
			context.style.display = "block";
			var x = e.clientX;
			var y = e.clientY;
			var w = window.innerWidth;
			var h = window.innerHeight;
			context.style.left = Math.min(w - 202, x) + "px";
			context.style.top = Math.min(h - 230, y) + "px";
			return false;
		};
		document.onclick = function () {
			context.style.display = "none";
		};
	}

	// window.GLOBAL_CONFIG = {
	// 	SCF_GATEWAY: "https://fodi.rawchen.workers.dev",
	// 	SITE_NAME: "PAN · RAWCHEN",
	// 	IS_CF: true
	// };
	// if (window.GLOBAL_CONFIG.SCF_GATEWAY.indexOf('workers') === -1) {
	// 	window.GLOBAL_CONFIG.SCF_GATEWAY += '/fodi/';
	// 	window.GLOBAL_CONFIG.IS_CF = false;
	// }
	//
	// document.title = window.GLOBAL_CONFIG.SITE_NAME;
	// document.querySelector('.site').textContent = window.GLOBAL_CONFIG.SITE_NAME;
	// window.api = {
	// 	root: '/',
	// 	url: window.GLOBAL_CONFIG.SCF_GATEWAY,
	// 	method: 'POST',
	// 	formatPayload: (path, passwd) => {
	// 		return '?path=' + encodeURIComponent(path) +
	// 			'&encrypted=' + window.api.accessToken.encrypted +
	// 			'&plain=' + window.api.accessToken.plain +
	// 			'&passwd=' + passwd;
	// 	},
	// 	headers: {
	// 		'Content-type': 'application/x-www-form-urlencoded'
	// 	}
	// }
	// window.backFordwardCache = {
	// 	root: window.api.root,
	// 	deepest: window.api.root,
	// 	current: window.api.root,
	// 	backable: true,
	// 	forwardable: false,
	// 	preview: false
	// }
	// window.fileCache = new Map();
	// window.api.accessToken = {
	// 	encrypted: '',
	// 	plain: ''
	// };

	// if (window.history && window.history.pushState) {
	// 	$(window).on('popstate', function () {
	// 		window.history.pushState('forward', null, '');
	// 		window.history.forward(1);
	// 		back();
	// 	});
	// }
	//
	// //在IE中必须得有这两行
	// window.history.pushState('forward', null, '');
	// window.history.forward(1);
</script>
</html>