<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div class="block-thumb">
	<div class="">
		<img th:src="${url}" alt="" style="width: 100px; height: 100px;">
		<a th:href="${url}">[[${url}]]</a>
<!--		<a href="javascript:void(0);" th:onclick="window.open('[[${url}]]')">123</a>-->
	</div>
</div>
</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
<script>
	// alert('[[${url}]]');
	// window.open('[[${url}]]');

	// location.href = '[[${url}]]';

	this.$ajax.get('[[${url}]]', {
		headers: {"Referer": "https://"},
		responseType: 'blob',
		params: {}
	}).then(response => {
		let url = window.URL.createObjectURL(new Blob([response.data]))
		let link = document.createElement('a')
		link.style.display = 'none'
		link.href = url
		link.setAttribute('download', '用户数据' + filtersTime.filters.yearMonthTime(new Date()) + '.xls')
		document.body.appendChild(link)
		link.click()
	}, response => {
		console.log("获取信息失败");
		console.log(response);
	});
</script>
</html>